{{ errMessage}}
<div class="d-flex justify-content-start align-items-center">
  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide" style="width: 18rem" *ngFor="let item of posts">
          <button class="card" style="width: 18rem;" onclick="showPostDetails(item)">
          <div
            class="card-image"
            style="background-image: url({{item.Post_Image}});
            ">

        </div>
          <div class="card-body">
            <p class="card-category">{{item.Post_Category}}</p>

            <h5 class="card-title limit-2">
              {{item.Post_Title}}
            </h5>

            <p class="card-text limit-2">
             {{item.Post_Content}}
            </p>

            <p>Từ {{item.Post_Pice}} đ</p>
          </div>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
