<!-- <div class="d-flex justify-content-start align-items-center"> -->

  <script>

  </script>

  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">

        <div class="card swiper-slide" style="width: 18rem;">
          <div class="card-image"
            style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);">
          </div>
          <div class="card-body">
            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>
            <p class="card-text limit-2">
              content
            </p>

            <p>Từ 150.000 đ</p>
          </div>
        </div>


        <div class="card swiper-slide" style="width: 18rem;">
          <div class="card-image"
            style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);">
          </div>
          <div class="card-body">
            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>
            <p class="card-text limit-2">
              content
            </p>

            <p>Từ 150.000 đ</p>
          </div>
        </div>

        <div class="card swiper-slide" style="width: 18rem;">
          <div class="card-image"
            style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);">
          </div>
          <div class="card-body">
            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>
            <p class="card-text limit-2">
              content
            </p>

            <p>Từ 150.000 đ</p>
          </div>
        </div>

        <div class="card swiper-slide" style="width: 18rem;">
          <div class="card-image"
            style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);">
          </div>
          <div class="card-body">
            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>
            <p class="card-text limit-2">
              content
            </p>

            <p>Từ 150.000 đ</p>
          </div>
        </div>

        <div class="card swiper-slide" style="width: 18rem;">
          <div class="card-image"
            style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);">
          </div>
          <div class="card-body">
            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>
            <p class="card-text limit-2">
              content
            </p>

            <p>Từ 150.000 đ</p>
          </div>
        </div>


        <!-- <a class="card" style="width: 18rem;">
          <div class="card-image" style="background-image: url(../../../../assets/destinations/HCM/welcome-1.webp);
          ">


          </div>
          <div class="card-body">

            <p class="card-category">
              Food&Drink
            </p>

            <h5 class="card-title limit-2">Trải Nghiệm Du Thuyền Chao Phraya Princess ở Bangkok</h5>

            <p class="card-text limit-2">
              Hãy cùng tham gia bài học lịch sử thú vị nhất bao giờ hết! Tìm hiểu về chiến tranh du kích của Việt Nam
              bằng cách leo vào các đường hầm ngầm đóng vai trò quan trọng trong cuộc chiến. m và khám phá với Tour Địa
              Đạo Củ Chi này nhé. Được xây dựng bởi các chiến sĩ địa phương trong cuộc xung đột Đông Dương, địa đạo Củ
              Chi là cơ sở của Việt Cộng, Mặt Trận Giải Phóng Dân Tộc. Nó bao gồm hầu hết mọi thứ cần thiết cho cuộc
              sống của Việt Cộng, nơi những người lính địa phương và người dân thường ăn, ngủ, làm việc, nấu nướng và
              thậm chí đi học ở đó. Bắt đầu vào năm 1948 như một nơi ẩn trốn khỏi các cuộc không kích của Pháp, vào năm
              1965, đường hầm được ước tính có chiều dài đáng kinh ngạc 200 km. Ở đây bao gồm hầu hết mọi thứ cần thiết
              cho cuộc sống của người dân địa phương: bệnh viện, trường học, phòng họp, nhà bếp và nhiều hơn nữa.
            </p>

            <p>Từ 150.000 đ</p>

          </div>
        </a> -->

      </div>
    </div>
  </div>
<!-- </div> -->
