{{ errMessage}}
<div class="d-flex justify-content-between align-items-center">


    <button class="card" style="width: 18rem;" (click)="showPostDetails(item)" *ngFor="let item of posts">
      <div class="card-image" style="background-image: url({{item.Post_Image}});
            ">

      </div>
      <div class="card-body">
        <p class="card-category">{{item.Post_Category}} | {{item.Post_Region}} </p>

        <h5 class="card-title limit-2">
          {{item.Post_Title}}
        </h5>

        <p class="card-text limit-2">
          {{item.Post_Content}}
        </p>

        <p>Từ
          <span style="font-size: 15px; font-weight: 600;">

            {{item.Post_Pice}} đ
          </span>

        </p>
      </div>
    </button>

</div>
