
<div class="background"></div>
<div class="container">
    <div class="item">
        <h2 class="logo"><i class='bx bxl-xing'></i>GOVIETNAM</h2>
        <div class="text-item">
            <h2>Welcome! <br><span>
                To Viet Nam
            </span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, repellendus?</p>
            <div class="social-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </div>
    <div class="login-section">
        <div class="form-box login">
            <form [formGroup]="signupForm" ngDefaultControl>

                <h2>ĐĂNG KÍ</h2>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" name="name"
                    id="name"
                    formControlName="name"
                    [class.is-invalid]="signupForm.controls['name'].invalid && signupForm.controls['name'].touched"
                    [(ngModel)]="user.userName">
                    <label >Tên người dùng</label>
                    <div *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched">
                      <small class="text-danger" *ngIf="signupForm.controls['name'].errors?.['required'] ">Tên không được để trống</small>
                      <small class="text-danger" *ngIf="signupForm.controls['name'].errors?.['minlength']">Tên phải tồn tại ít nhất 3 ký tự </small>
                      <small class="text-danger" *ngIf="name.errors?.['nameNotMatch']">Tên không được chứa ký tự đặc biệt</small>
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope' ></i></span>
                    <input type="email" id="email"
                    name="email"
                    formControlName="email"
                    [class.is-invalid]="signupForm.controls['email'].invalid && signupForm.controls['email'].touched"
                    (blur)="checkEmail()"
                    [(ngModel)]="user.userEmail">
                    <label>Email</label>
                    <div *ngIf="signupForm.controls['email'].errors && (signupForm.controls['email'].invalid || signupForm.controls['email'].touched)">
                      <small class="text-danger" *ngIf="signupForm.controls['email'].errors['required']" [class.d-none]="signupForm.controls['email'].valid || signupForm.controls['email'].untouched">Email không được để trống</small>
                      <small class="text-danger" *ngIf="signupForm.controls['email'].errors['email']">Email không hợp lệ</small>
                      <small class="text-danger"  *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched && signupForm.controls['email'].errors.emailExists">Email này đã được sử dụng.</small>
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" name="password" id="password" formControlName="password" [class.is-invalid]="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" [(ngModel)]="user.password">
                    <label>Mật khẩu</label>
                    <small class="text-danger" *ngIf="signupForm.controls['password'].errors?.['required'] ">Mật khẩu không được để trống</small>
                </div>
                <div class="input-box">
                  <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                  <input type="password" id="retype_password" formControlName="confirmPass" [class.is-invalid]="signupForm.controls['confirmPass'].errors?.['misMatch']">
                  <label>Nhập lại mật khẩu</label>
                  <small class="text-danger" *ngIf="signupForm.controls['confirmPass'].errors?.['misMatch']">Mật khẩu không trùng khớp</small>
              </div>z
                <div class="remember-password">
                    <label for=""><input type="checkbox">Tôi đồng ý với câu nói này</label>
                </div>
                <button class="btn" (click)="postUsers()"  [disabled]="signupForm.invalid" data-toggle="modal" data-target="#myModal">Login In</button>
                <div class="create-account">
                    <p>Bạn đã có tài khoản? <a (click)="LogIn()" class="login-link">Đăng Nhập</a></p>
                </div>
            </form>
        </div>
    </div>
</div>


 <!-- SIGN UP FORM CREATION -->



<!-- <div class="main">
  <form action="" method="POST" class="form" id="form-1"  style="border-radius: 20px; box-shadow: 0 4px 20px 0 rgba(0,0,0,.08); margin: 40px 0; width: 420px;
  min-height: 100px;
  padding: 60px 45px;">
    <h3 class="heading">Đăng ký</h3>
    <p class="desc">Đăng ký tài khoản GoVietnam và khám phá niềm vui của bạn ở bất cứ đâu</p>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="fullname" class="form-label">Tên đầy đủ</label>
      <input
        id="fullname"
        name="fullname"
        type="text"
        placeholder="VD: Trần Duy Thanh"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        name="email"
        type="text"
        placeholder="VD: email@domain.com"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password_confirmation" class="form-label"
        >Nhập lại mật khẩu</label
      >
      <input
        id="password_confirmation"
        name="password_confirmation"
        placeholder="Nhập lại mật khẩu"
        type="password"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <button class="form-submit">Đăng ký</button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Mong muốn của chúng ta
    Validator({
      form: "#form-1",
      formGroupSelector: ".form-group",
      errorSelector: ".form-message",
      rules: [
        Validator.isRequired("#fullname", "Vui lòng nhập tên đầy đủ của bạn"),
        Validator.isEmail("#email"),
        Validator.minLength("#password", 6),
        Validator.isRequired("#password_confirmation"),
        Validator.isConfirmed(
          "#password_confirmation",
          function () {
            return document.querySelector("#form-1 #password").value;
          },
          "Mật khẩu nhập lại không chính xác"
        ),
      ],
      onSubmit: function (data) {
        // Call API
        console.log(data);
      },
    });
  });
</script> -->
