<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head >
<body>
  <div style="margin-top: 50px">
    <button class="btn-back">
      <img src="img/icon/cancel-removebg-preview.png" />
    </button>
  </div>
  <div class="post">
    <div class="post-feed">
      <div class="post-img-container">
        <img src="{{ posts.Post_Image }}" alt="" />
      </div>
    </div>

    <div class="feed">
      <div class="post-detail">
          <div class="header-post">
            <p class="username">{{ posts.Post_Category }}</p>
            <p class="post-des" >
              {{ posts.Post_Title }}
            </p>
            <hr>
            <div class="post-des">
              {{ posts.Post_Content }}
            </div>
          </div>
          <div class="comments-container" *ngFor="let item of Acts">
            <div class="comment-card">
              <img
                src="{{ posts.Post_Image }}"
                class="user-dp rounded-circle"
                alt=""
              />
              <div class="comment-body">

                <!--/{{userName}} -->
                <p class="commnent"> <span style="margin-right: 5px; font-weight: bold;">@lkhslkdl </span>
                  {{ item.Act_cmt }}

                </p>
                <!--/{{cmt}} -->
                <div class="dropdown show" style="width: 100%">
                  <div>
                    <span class="small">{{ reverse(item.Act_Created) }} </span>
                    <a
                      class="float-right"
                      style="
                        background-color: rgb(252, 252, 252);
                        color: black;
                        margin-bottom: 13px;
                        margin-left: 10px;
                      "
                      class="btn"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      ...
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <button
                        class="dropdown-item"
                        (click)="CmtView(item.Act_cmt, item._id)"
                      >
                        Edit
                      </button>
                      <button class="dropdown-item" (click)="deleteCmt(item._id)">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-bottom: 80px;">
          </div>
        <div class="activity">
          <div class="detail-intracables">
            <button class="btn btn-outline-light" (click)="Reacted()">
              <div  *ngIf="like; then react; else UnReact"></div>
              <ng-template #react>
                <img src="assets/icon/red-heart.png" class="like-btn" alt="" />
              </ng-template>
              <ng-template #UnReact>
                <img src="assets/icon/heart-nofill.png" class="like-btn" alt="" />
              </ng-template>
            </button>
            <img src="assets/icon/send-nofill.png" class="send-btn" alt="#" />

            <button class="btn btn-outline-light" (click)="postReact()">
              <img
                src="assets/icon/home-nofill.png"
                class="comment-btn"
                alt="#"
              />
            </button>
          </div>
          <span class="bold">{{ posts.Post_Interact.Post_Like }} Likes</span>
        </div>
        <div *ngIf="cmtView; then cmt; else editCmt"></div>
        <ng-template #cmt>
          <div class="comment-box">
            <input
              type="text"
              id="comment-input"
              placeholder="Add a comment"
              #name="ngModel"
              [(ngModel)]="Act.Act_cmt"
            />
            <button class="add-comment-btn" (click)="postAC()">
              <img src="assets/icon/comment-nofill.png" alt="" />
            </button>
          </div>
        </ng-template>
        <ng-template #editCmt>
          <div class="comment-box">
            <input
              type="text"
              id="comment-input"
              placeholder="Add a comment"
              #name="ngModel"
              [(ngModel)]="Act.Act_cmt"
            />
            <button class="add-comment-btn" (click)="putCmt(Act.Act_cmt)">
              <img src="assets/icon/send-fill.png" alt="" />
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</body>
</html>
