<p>nhatrang works!</p>
{{ errMessage }}
<!-- General Information -->
<h1 class="pb-5">{{ information.informationName }}</h1>
<section class="container shadow p-5 mb-5 bg-white" style="border-radius: 20px">
  <div class="row d-flex align-self-start" style="margin-bottom: 50px">
    <div class="generalinfo">
      <div class="">
        <h4 class="flex-grow-1 text-left pb-2">
          {{ information.informationName }}
        </h4>
      </div>

      <div class="d-flex">
        <div
          class="flex-grow-4 angular-with-newlines"
          style="text-align: justify; max-width: 50rem; padding-right: 50px; font-size: 16px; line-height: 1.5;"
        >
          {{ information.informationContent }}
        </div>
