.btn-success{
  background-color: transparent;
  color: black;
  border: 0;



}
.btn-success:hover{
  background-color: transparent;
  color: #ff5b00;
  border: 0;


}
.fit {
  height: 200px;
  width: 200px;
}

.place-img {
  height: 300px;
}
img{
  width: 100%;
    height: 100%;
    object-fit: cover;

}
#card-text{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
   text-align: justify;

}
#modal-text{
   text-align: justify;

}

