<!-- General Information -->
{{ errMessage }}
<section class="info-section container">
  <h1 class="title pb-3" style="padding-top: 72px;">{{ information.informationName }}</h1>
  <section
    class="container shadow p-5 mb-5 bg-white"
    style="border-radius: 20px"
  >
    <div class="row d-flex align-self-start" style="margin-bottom: 50px">
      <div class="generalinfo">
        <div class="">
          <h3 class="flex-grow-1 text-left pb-2">
            {{ information.informationName }}
          </h3>
        </div>

        <div class="d-flex">
          <div
            class="flex-grow-4 angular-with-newlines"
            style="
              text-align: justify;
              max-width: 50rem;
              padding-right: 50px;
              font-size: 16px;
              line-height: 1.5;
            "
          >
            {{ information.informationContent }}
          </div>
          <div class="d-flex flex-column">
            <!-- destination map -->
            <app-danang-map></app-danang-map>
            <!-- weather forecast -->
            <app-danang-weather-forecast></app-danang-weather-forecast>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row d-flex align-seft-start" style="margin-bottom: 50px">
      <div class="general-info">
        <h3 class="flex-grow-1 text-left">Thông tin chung</h3>
        <table>
          <tr class="region-info-title" style="height: 50px">
            <td>Múi giờ</td>
            <td>Tiền tệ</td>
            <td>Thời gian</td>
          </tr>
          <tr class="region-info-main">
            <td>{{ information.timeZone }}</td>
            <td>{{ information.currency }}</td>
            <td>{{ information.travelTime }}</td>
          </tr>
          <tr style="color: #868b94">
            <td>{{ information.timeNote }}</td>
            <td>{{ information.currencyNote }}</td>
            <td>{{ information.travelTimeNote }}</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</section>

<!-- Top visited places -->
<app-top-place-danang></app-top-place-danang>

<!-- Q&A section -->
<app-danang-faq></app-danang-faq>

