

<section class="faq-section container" style="margin-bottom: 48px">
  <h1 class="title pb-3" style="padding-top: 72px">{{ faq.faqName }}</h1>
  <div class="container border p-5 mb-5 bg-white" style="border-radius: 15px">
    <div
      class="panel-group"
      id="myaccordian"
      *ngFor="let faq of faq.faqList; let i = index"
    >
      <div class="panel panel-primary">
        <div class="accordion-header">
          <h4
            class="panel-header"  [id]="'heading' + i"
          >
            <button class="accordion-button" type="button" aria-expanded="false"
            data-parent="#myaccordian"
            data-toggle="collapse"
            [attr.data-target]="'#collapse' + i" style="font-size: 1.2rem; font-weight:500;">
              {{ faq.ques }}
            </button>
          </h4>
        </div>
        <div [id]="'collapse' + i" class="panel-collapse collapse p-2 m-4" style="background-color: rgb(198, 196, 196);">
          <div class="panel-body">
            {{ faq.ans }}
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
