<div class="main">
  <form action="" method="POST" class="form" id="form-2" style="border-radius: 20px; box-shadow: 0 4px 20px 0 rgba(0,0,0,.08); margin: 40px 0; width: 420px;
  min-height: 100px;
  padding: 60px 45px;">
    <h2 class="heading">Đăng nhập</h2>
    <p class="desc">Nhận tài khoản GoVietnam và khám phá niềm vui của bạn ở bất cứ đâu</p>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control" />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control" />
      <span class="form-message"></span>
    </div>

    <button class="form-submit">Đăng nhập</button>

    <p class="desc">Bằng cách đăng ký hoặc đăng nhập, bạn đã hiểu và đồng ý với
      <a href="#">Điều Khoản Sử Dụng Chung</a>
      và
      <a href="#" >Chính Sách Bảo Mật</a> của GoVietnam.
    </p>
  </form>



</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Mong muốn của chúng ta
    Validator({
      form: "#form-2",
      formGroupSelector: ".form-group",
      errorSelector: ".form-message",
      rules: [Validator.isEmail("#email"), Validator.minLength("#password", 6)],
      onSubmit: function (data) {
        // Call API
        console.log(data);
      },
    });
  });
</script>
